<%- include("template/header.ejs") %>
<body class="cupero">
    <link rel="stylesheet" href="../../Css/pantallaActualizarinventario.css">
    <%- include("template/navBar.ejs") %>
    <main>
        <div class='titulo-pro'>
            <h2>
                Seleccione el producto a actualizar, recuerde que solo puede actualizar un producto a la vez.
            </h2>
        </div>
        <section class='PantallaBajo'>
            
                <label for="producto">
                    <h3> Producto:</h3>
                </label>
                <div class='BotonSelec'>
                <select id="producto" name="producto">
                    <% productos.forEach( p => { %>
                        <option value="<%= JSON.stringify(p) %>">
                            <p><%= p.nombreProducto%></p>
                        </option>
                    <% }); %>
                </select><br><br>
                <div >
                    <button id = "boton" class="botonEnvio" ><p>Actualizar inventario </p></button>
                </div>
            </div>
            <section class='tabla'>
                <table>
                    <caption>
                        <p id = "id" class="<%= JSON.stringify(id); %>">Inventario</p>
                    </caption>                   
                    <tr>
                        <th>
                            <p>Nombre del producto </p>
                        </th>
                        <th>

                            <p id=>Cantidad actual del producto (un)</p>
                        </th>
                        <th>
                            <p>Cantidad de productos recibidos (un)</p>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <p id="nombreProducto"></p>
                        </td>
                        <td>
                            <p id="cantidadProducto"></p>
                        </td>
                        <td>
                            <input id="nuevaCantidad" type="nuevaCantidad">
                        </td>
                    </tr>
                    <script type="text/javascript">
                        var sel = document.getElementById("producto");
                        var opt = sel.options[sel.selectedIndex];
                        var nombre = document.getElementById("nombreProducto");
                        var cantidad = document.getElementById("cantidadProducto");
                        var nuevaCantidad = document.getElementById("nuevaCantidad");
                        console.log(nuevaCantidad);
                        var p;
                        sel.addEventListener("change",()=>{
                            var opt = sel.options[sel.selectedIndex];
                            p = JSON.parse(opt.value);
                            
                            nombre.innerHTML = p.nombreProducto;
                            
                            cantidad.innerHTML = p.inventario;
                        });
                        var id = document.getElementById("id");
                        console.log(id.className);
                        var boton = document.getElementById("boton");
                        boton.addEventListener("click",async ()=>{
                            try{
                                let c = parseInt(cantidad.innerHTML,10) + parseInt(nuevaCantidad.value,10);
                                p.inventario = c;

                                let response = await axios({
                                    method: "PATCH",
                                    url: `https://toppickapp.herokuapp.com/productos/inventario/${id.className}`,
                                    data:[{idProducto:p.idProducto,nuevaCantidad:p.inventario}]
                                });
                                console.log(response)
                                alert("Actualizado de forma correacta");
                            }catch(err){
                                console.log(err);
                            }
                        });
                    </script>
                </table>
            </section>
           
        </section>
        <script type="text/javascript" src="../../Scripts/actualizar_inventario.js"></script>
    </main>
    <footer>
        <p class="text-center text-muted"> Developed by ©Alpha </p>
    </footer>
    
</body>